<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Natural Language Processing</title>

    <link href="main.css" rel="stylesheet">
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form id="main-form">
                <div>
                    <input id="url" type="text" placeholder="Enter URL here..." required>
                    <span class="error hidden">
                        Please enter a valid URL.
                    </span>
                </div>
                <input type="Submit" name="" value="Submit">
            </form>
            <section>

                <section>
                    <strong id="res-head"></strong>
                    <div id="res"></div>
                </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

</body>

</html>